@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
* {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

